html {
  font-family: Lora, serif;
}

.masthead {
  background: url("../images/leaf-bg.svg") left top / 64px auto #588477;
  color: #fff;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
}

.nav a:hover {
  background: url("../images/leaf-icon.svg") no-repeat .75em center / 75px auto #fff;
  border-radius: 8px;
  color: #145b1d;
}

.banner {
  background: url("../images/banner.jpg");
  color: #fff;
  padding-top: 20.56%;
  border-bottom: 3px solid #2d5a4d;
  background-size: cover;
}

.banner-content {
  background: url("../images/two-leaves.svg") no-repeat left top / 85px auto;
  padding-top: 5em;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
