html {
  font-family: Lora, serif;
}

.masthead {
  background: url("../images/leaf-bg.svg") left top / 64px auto #588477;
  color: #fff;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
}

.nav a:hover {
  background: url("../images/leaf-icon.svg") no-repeat .75em center / 75px auto #fff;
  border-radius: 8px;
  color: #145b1d;
}

.banner {
  background: linear-gradient(to top, rgba(16, 52, 41, .8), rgba(16, 52, 41, 0) 50%), url("../images/banner.jpg") no-repeat center bottom / cover;
  padding-top: 56.25%;
  border-bottom: 4px solid #2d5a4d;
}

.banner-content {
  background: url("../images/two-leaves.svg") no-repeat 10px top / 100px auto;
  padding-top: 7.5em;
}
