html {
  font-family: Lora, serif;
}

.masthead {
  background: url("../images/leaf-bg.svg") left top / 70px auto;
  color: #fff;
  background-color: #588477;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  border: 3px solid #2d5a4d;
  background-color: #467366;
}

.nav a:hover {
  background: url("../images/leaf-icon.svg") no-repeat center center /75px auto;
  background-color: #fff;
  border-radius: 10px;
  color: #145b1d;
}

.banner {
  background: url("../images/banner.jpg") no-repeat top;
  color: #fff;
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
